.inactive > td{
    color: silver;
    font-style: italic;
    text-decoration: line-through;
}

#formModal .modal-body label{
    font-weight: bold;
}
#formModal .modal-body .form-group{
    margin-bottom: 15px;
}

.nocursor{
    cursor: pointer;
}