<h3>Felhasználók kezelése</h3>


<div class="form-floating mb-3 col-3">
    <input type="search" class="form-control" id="searchInput" placeholder="keresés"[(ngModel)]="search">
    <label for="searchInput">Keresés..</label>
  </div>
  
  
<table class="table table-hover table-striped">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        
        <th>Phone</th>
        <th>Address</th>
        <th class="text-end">Reg</th>
        <th class=>Last</th>
        <th>Status</th>
        <th class="text-end">Műveletek</th>
    </thead>
    <tbody>
        <tr  *ngFor="let user of pagedUser; let i = index" [ngClass]="{'inactive': !user.status}">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            
            <td>{{user.phone || "nincs hozzáadva"}}</td>
            <td>{{user.adress || "nincs hozzáadva"}} </td>
            <td class="text-end">{{user.reg}}</td>
            <td class="text-end">{{user.last}} </td>
            <td>
              <button class="btn btn-danger" data-bs-toggle="modal" *ngIf="user.id !=loggeduser.id" (click)="statusChange(user.id!)" >
                <i class="bi bi-dash-circle"></i>
              </button>
            
            </td>
            <td class="text-end">
                <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#formModal" (click)="showDetails(user.id!)"><i class="bi-pencil" ></i></button>
                
            </td>
            <!--(click)="confirmDelete(pizza.id)"  (click)="getPizza(pizza.id)"-->
        </tr>
    </tbody>
    <tfoot>
        <tr >
            <td class="text-center" colspan="10">Összesen: <strong>{{users.length}}</strong></td>
        </tr>
    </tfoot>
</table>
<nav class="nocursor" aria-label="Page navigation example" *ngIf="totalPages>1">
    <ul class="pagination">
      <li class="page-item nocursor">
        <a class="page-link"  aria-label="Previous" (click)="setPage(currentpage-1)" [class.disabled]="currentpage ===1">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i =index"><a class="page-link" (click)="setPage(i+1)" [class.active]="currentpage==i+1">{{i+1}}</a></li>
      
      <li class="page-item nocursor">
        <a class="page-link" aria-label="Next" (click)="setPage(currentpage+1) " [class.disabled]="currentpage ===totalPages">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Modal -->
  <div class="modal modal-xl fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="formModalLabel">Rendelések</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cancel()" aria-label="Close"></button>
        </div>
  
        <ul class="nav nav-tabs">
          <li class="nav-item nocursor">
            <a class="nav-link" [class.active]="activeTab === 'userinfo'" (click)="activeTab = 'userinfo'">Felhasználó adatai</a>
          </li>
          <li class="nav-item nocursor">
            <a class="nav-link" [class.active]="activeTab === 'orders'" (click)="activeTab = 'orders'">Rendelések</a>
          </li>
        </ul>
  
        <div class="modal-body">
  
          <!-- User info -->
          <div *ngIf="activeTab === 'userinfo'">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Tulajdonság</th>
                  <th>Érték</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Név</td><td>{{selecteduser.name}}</td></tr>
                <tr><td>Email cím</td><td>{{selecteduser.email}}</td></tr>
                <tr><td>Lakcím</td><td>{{selecteduser.adress}}</td></tr>
                <tr><td>Jogosultság</td><td>{{selecteduser.role}}</td></tr>
                <tr><td>Regisztráció</td><td>{{selecteduser.reg}}</td></tr>

              </tbody>
            </table>
          </div>
  
          <!-- Orders -->
          <div *ngIf="activeTab === 'orders'">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Összeg</th>
                  <th>Státusz</th>
                  <th>Készítés</th>
                  <th>Frissítve</th>
                  <th>Pizzák</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders">
                  <td>{{order.id}}</td>
                  <td>{{order.total | numberformat}} {{currency}}</td>
                  <td>{{order.status}}</td>
                  <td>{{order.created_at}}</td>
                  <td>{{order.updated_at}}</td>
                  <td>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pizzaModal" (click)="showPizzas(order.id)">
                      Pizzák
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancel()">Close</button>
          <button type="button" class="btn btn-primary" (click)="save()">Mentés</button>
        </div>
  
      </div>
    </div>
  </div>
  
  <!--Pizza Modal-->


  <div class="modal fade" id="pizzaModal" tabindex="-1" aria-labelledby="pizzaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pizzaModalLabel">Pizzák a rendelésben</h5>
          <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#formModal"></button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Pizza</th>
                <th>darab</th>
                <th>Ár</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pizza of selectedPizzas">
               
                <td> {{ pizza.pizzaName }}</td>
                <td>{{ pizza.quantity }}</td>
                <td>{{pizza.price | numberformat}} {{currency}}</td>
              </tr>
            </tbody>
          </table>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#formModal">vissza</button>
        </div>
      </div>
    </div>
  </div>