<h3>Rendelések kezelése</h3>


<div class="form-floating mb-3 col-3">
    <input type="search" class="form-control" id="searchInput" placeholder="keresés">
    <label for="searchInput">Keresés..</label>
  </div>
  
  
<table class="table table-hover table-striped">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Összesen</th>
        <th class="text-end">Státusz</th>
        <th class="text-end">Műveletek</th>
    </thead>
    <tbody>
        <tr  *ngFor="let order of pagedOrder; let i = index">
            <td>{{i+1}}</td>
            <td>
              {{ getUserName(order.user_id) }} 
            </td>
            <td>{{order.total}}</td>
            <td class="text-end">
              {{order.status}}
              <button 
                class="btn" 
                [ngClass]="{
                  'btn-danger': order.status === 'cancelled',
                  'btn-warning': order.status === 'pending',
                  'btn-success': order.status === 'completed'
                }" 
                (click)="statusChange(order.id!)">
                <i 
                  [ngClass]="{
                    'bi-dash-circle': order.status === 'cancelled',
                    'bi-hourglass-split': order.status === 'pending',
                    'bi-check-circle': order.status === 'completed'
                  }">
                </i>
              </button>
            </td>
            <td class="text-end">
                <button class="btn btn-warning me-2" ><i class="bi-pencil" ></i></button>
                
            </td>
            <!--(click)="confirmDelete(pizza.id)"  (click)="getPizza(pizza.id)"-->
        </tr>
    </tbody>
    <tfoot>
        <tr >
            <td class="text-center" colspan="10">Összesen: <strong>{{Orders.length}}</strong></td>
        </tr>
    </tfoot>
</table>
<nav class="nocursor" aria-label="Page navigation example" *ngIf="totalPages>1">
  <ul class="pagination">
    <li class="page-item nocursor">
      <a class="page-link"  aria-label="Previous" (click)="setPage(currentpage-1)" [class.disabled]="currentpage ===1">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i =index"><a class="page-link" (click)="setPage(i+1)" [class.active]="currentpage==i+1">{{i+1}}</a></li>
    
    <li class="page-item nocursor">
      <a class="page-link" aria-label="Next" (click)="setPage(currentpage+1) " [class.disabled]="currentpage ===totalPages">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
